<EditForm Model="@model" OnValidSubmit="SubmitFormAsync">
    <DataAnnotationsValidator />

    <h2>@Localizer["FileTitle"]</h2>

    <div class="modal-content">
        <section class="form-section">
            <div class="form-col">
                <label for="Label">@Localizer["Label"]<span class="txt-red">*</span></label>
                <div class="form-element">
                    <InputText type="text" id="Label" @bind-Value="model.Label" />
                    <ValidationMessage For="@(() => model.Label)" />
                </div>
            </div>

            <!-- custom -->
            <div class="form-col">
                <label for="Instances">@Localizer["Instances"]</label>
                <div class="form-element">
                    <InputNumber id="Instances" @bind-Value="model.Instances" />
                    <ValidationMessage For="@(() => model.Instances)" />
                </div>
            </div>
            <div class="form-col">
                <label for="AllowedExtensions">@Localizer["AllowedExtensions"]</label>
                <div class="form-element">
                    <InputText type="text" id="AllowedExtensions" @bind-Value="model.AllowedExtensions" />
                </div>
            </div>
            <div class="form-col">
                <label for="MaxSize">@Localizer["MaxSize"]</label>
                <div class="form-element">
                    <InputNumber type="text"
                                 id="MaxSize"
                                 DisplayName="@Localizer["MaxSize"]"
                                 ParsingErrorMessage="@ErrorMessages.NumberParsingError"
                                 @bind-Value="model.MaxSize" />
                    <ValidationMessage For="@(() => model.MaxSize)" />
                </div>
            </div>
            <div class="form-col">
                <label for="ExpirationPeriod">@Localizer["ExpirationPeriod"]</label>
                <div class="form-element">
                    <InputNumber DisplayName="@Localizer["ExpirationPeriod"]"
                                 ParsingErrorMessage="@ErrorMessages.NumberParsingError"
                                 @bind-Value="model.ExpirationPeriod"
                                 type="text"
                                 id="ExpirationPeriod" />
                    <ValidationMessage For="@(() => model.ExpirationPeriod)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="IsRequired" @bind-Value="model.IsRequired" />
                    <label for="IsRequired" style="width: 100%;">@Localizer["IsRequired"]</label>
                </div>
            </div>
        </section>
    </div>

    <section class="form-section form-row button-row-right">
        <button class="btn-border btn-m" type="button" @onclick="CancelAsync">@Localizer["CancelBtn"]</button>
        <button class="btn-primary btn-m" type="submit">@Localizer[IsEdit ? "SaveBtn" : "AddBtn"]</button>
    </section>
</EditForm>
