<EditForm Model="@model" OnValidSubmit="SubmitFormAsync">
    <DataAnnotationsValidator />
    <ServerSideValidator @ref="serverSideValidator" />

    <h2>@Localizer["SelectTitle"]</h2>

    <div class="modal-content">
        <section class="form-section">
            <div class="form-col">
                <label for="Label">@Localizer["Label"]<span class="txt-red">*</span></label>
                <div class="form-element">
                    <InputText type="text" id="Label" @bind-Value="model.Label" />
                    <ValidationMessage For="@(() => model.Label)" />
                </div>
            </div>

            <!-- custom -->
            <div class="form-col">
                <label for="Placeholder">@Localizer["Placeholder"]</label>
                <div class="form-element">
                    <InputText type="text" id="Placeholder" @bind-Value="model.Placeholder" />
                </div>
            </div>
            <div class="form-col">
                <label for="Url">@Localizer["Url"]</label>
                <div class="form-element">
                    <InputText type="text" id="Url" @bind-Value="model.Url" />
                </div>
            </div>
            <div class="form-col">
                <label for="Options">@Localizer["Options"]</label>
                <div class="form-element">
                    <InputLargeTextArea id="largeTextArea" @ref="TextArea" OnChange="TextAreaChanged" />
                </div>
            </div>
            <div class="form-col">
                <label for="Value">@Localizer["Value"]</label>
                <div class="form-element">
                    <InputText type="text" id="Value" @bind-Value="model.Value" />
                </div>
            </div>

            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="IsRequired" @bind-Value="model.IsRequired" />
                    <label for="IsRequired" style="width: 100%;">@Localizer["IsRequired"]</label>
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="IsEncrypted" @bind-Value="model.IsEncrypted" />
                    <label for="IsEncrypted" style="width: 100%;">@Localizer["IsEncrypted"]</label>
                </div>
            </div>
        </section>
    </div>

    <section class="form-section form-row button-row-right">
        <button class="btn-border btn-m" type="button" @onclick="CancelAsync">@Localizer["CancelBtn"]</button>
        <button class="btn-primary btn-m" type="submit">@Localizer[IsEdit ? "SaveBtn" : "AddBtn"]</button>
    </section>
</EditForm>
