@page "/templates"
@inherits PagedComponent
@attribute [Authorize]

<Breadcrumb Items="@(
    new Dictionary<string, string>()
    {
        { "home", "" },
        { "templates", null },
    })" />

<div class="wrapper content-wrapper">
    <div class="cols-wrapper">
        <NavMenu />
        <div class="content-right">
            <div style="padding-bottom: 15px;">
                <a href="templates/create"
                   class="btn btn-border btn-m butright">
                    @Localizer["CreateTemplate"]
                </a>

                <h3>@Localizer["Title"]</h3>
            </div>

            <EditForm EditContext="@editContext" OnValidSubmit="Search">
                <DataAnnotationsValidator />
                <div class="single-col">
                    <section class="form-section">
                        <ul class="col-list">
                            <li class="form-row">
                                <label for="@nameof(SearchTemplateModel.Term)">
                                    @Localizer["FormTerm"]<span class="txt-red">*</span>
                                </label>
                                <div class="form-element">
                                    <InputText type="text" id="@nameof(SearchTemplateModel.Term)" @bind-Value="model.Term" />
                                    <ValidationMessage For="@(() => model.Term)" />
                                </div>
                            </li>
                            <li class="form-row">
                                <label for="@nameof(SearchTemplateModel.TemplateStatus)">
                                    @Localizer["FormTemplateStatus"]<span class="txt-red">*</span>
                                </label>
                                <div class="form-element">
                                    <Select2Field id="@nameof(SearchTemplateModel.TemplateStatus)"
                                                  @bind-Value="model.TemplateStatus"
                                                  Options="@templateStatuses" />
                                    <ValidationMessage For="@(() => model.TemplateStatus)" />
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="form-section form-row button-row-right">
                        <button class="btn-primary btn-l" type="submit">@Localizer["BtnSearch"]</button>
                    </section>
                </div>
            </EditForm>

            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(templates?.Length ?? 0)" />
            <div class="table-responsive" style="position: relative">
                @if (IsLoading)
                {
                    <div class="loader-container">
                    </div>
                }
                <table class="list">
                    <tbody>
                        <tr>
                            <th>@Localizer["ColumIdentityNumber"]</th>
                            <th>@Localizer["ColumnName"]</th>
                            @*<th>@Localizer["ColumnCategory"]</th>*@
                            <th>@Localizer["ColumnCreateDate"]</th>
                            @*<th>@Localizer["ColumnLoginSecurityLevelNames"]</th>*@
                            <th>@Localizer["ColumnIsSystemTemplate"]</th>
                            <th>@Localizer["ColumnPublishDate"]</th>
                            <th>@Localizer["ColumnArchiveDate"]</th>
                            <th></th>
                            <th></th>
                        </tr>

                        @if (templates == null)
                        {
                            <tr>
                                <td colspan="8">
                                    <div class="loader page-loader show">
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @if (!templates.Result.Any())
                            {
                                <tr>
                                    <td colspan="8">@Localizer["NoItems"]</td>
                                </tr>
                            }

                            @foreach (var template in templates.Result)
                            {
                                <tr>
                                    <td>
                                        <a href="templates/@template.TemplateId" title="@Localizer["BtnView"]">
                                            @template.IdentityNumber
                                        </a>
                                    </td>
                                    <td>
                                        <a href="templates/@template.TemplateId" title="@Localizer["BtnView"]">
                                            @template.Name
                                        </a>
                                    </td>
                                    @*<td>@(template.Category ?? "-")</td>*@
                                    <td>@template.CreateDate.ToLocalDateTime().ToString("g")</td>
                                    @*<td>@($"{template.ReadLoginSecurityLevelName}/{template.WriteLoginSecurityLevelName}")</td>*@
                                    <td>@Localizer[$"ColumnIsSystemTemplate_{template.IsSystemTemplate}"]</td>
                                    <td>@(template.PublishDate?.ToLocalDateTime().ToString("g") ?? "-")</td>
                                    <td>@(template.ArchiveDate?.ToLocalDateTime().ToString("g") ?? "-")</td>
                                    <td style="padding: 10px;">
                                        <a href="templates/create/@template.TemplateId" title="@Localizer["BtnCopy"]">
                                            <img src="img/download-file.png" alt="@Localizer["BtnCopy"]" />
                                        </a>
                                    </td>
                                    <td style="padding: 10px;">
                                        <a href="templates/@template.TemplateId" title="@Localizer["BtnView"]">
                                            <img src="img/view_icon.png" alt="@Localizer["BtnView"]" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(templates?.Length ?? 0)" />
        </div>
    </div>
</div>
