@page "/target-groups"
@inherits PagedComponent
@attribute [Authorize]

@using System.Threading
@using ED.DomainServices.Admin
@inject Admin.AdminClient AdminClient
@inject IStringLocalizer<Index> Localizer
@inject CommonStringLocalizer CommonLocalizer

<Breadcrumb Items="@(
    new Dictionary<string, string>()
    {
        { "home", "" },
        { "target-groups", null },
    })" />

<div class="wrapper content-wrapper">
    <div class="cols-wrapper">
        <NavMenu />
        <div class="content-right">
            <div style="padding-bottom: 15px;">
                <a href="target-groups/create"
                   class="btn btn-border btn-m butright">
                    @Localizer["CreateTargetGroup"]
                </a>

                <h3>@Localizer["Title"]</h3>
            </div>

            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(targetGroups?.Length ?? 0)" />
            <div class="table-responsive" style="position: relative">
                @if (IsLoading)
                {
                    <div class="loader-container">
                    </div>
                }
                <table class="list">
                    <tbody>
                        <tr>
                            <th>@Localizer["ColumnName"]</th>
                            <th>@Localizer["ColumnCreateDate"]</th>
                            <th>@Localizer["ColumnArchiveDate"]</th>
                            <th></th>
                        </tr>

                        @if (targetGroups == null)
                        {
                            <tr>
                                <td colspan="4">
                                    <div class="loader page-loader show">
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @if (!targetGroups.Result.Any())
                            {
                                <tr>
                                    <td colspan="4">@Localizer["NoItems"]</td>
                                </tr>
                            }

                            @foreach (var targetGroup in targetGroups.Result.OrderBy(e => e.ArchiveDate).ThenBy(e => e.TargetGroupId))
                            {
                                <tr>
                                    <td>@targetGroup.Name</td>
                                    <td>@targetGroup.CreateDate.ToLocalDateTime().ToString("g")</td>
                                    <td>@(targetGroup.ArchiveDate?.ToLocalDateTime().ToString("g") ?? "-")</td>
                                    <td>
                                        <a href="target-groups/@targetGroup.TargetGroupId">@Localizer["BtnView"]</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(targetGroups?.Length ?? 0)" />
        </div>
    </div>
</div>

@code
{
    private GetTargetGroupListResponse targetGroups;

    protected override async Task LoadDataAsync(CancellationToken ct)
    {
        this.targetGroups =
            await this.AdminClient.GetTargetGroupListAsync(
                new GetTargetGroupListRequest
                {
                    Offset = base.Offset,
                    Limit = base.Limit,
                },
                cancellationToken: ct);
    }
}
