@using Microsoft.Extensions.Options
@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localizer
@inject IOptions<AdminPanelOptions> adminPanelOptionsAccessor

<header id="scale-wrapper">
    <div class="wrapper header-wrapper">
        <div class="logo-wrapper" id="scale-in">
            <a href="">
                <img src="images/lion-form.svg" class="icon-lion-form">
            </a>
            <div class="titles-box">
                <h2 class="main-title-long">@Localizer["MainTitle"]</h2>
                <h4 class="sub-title">@Localizer["SubTitle"]</h4>

                @if (adminPanelOptionsAccessor.Value.Environment == "EGovTestV2")
                {
                    <style>
                        .test-alert {
                            position: fixed;
                            top: 10px;
                            right: 10px;
                            z-index: 10;
                            padding: 0.75rem 1.25rem;
                            color: #721c24;
                            background-color: #f8d7da;
                            border: 1px solid transparent;
                            border-radius: 0.25rem;
                        }
                    </style>

                    <div class="test-alert">@Localizer["Title_TestEnv"]</div>
                }
            </div>
        </div>
        <div class="right-content">
            <ul>
                <LoginDisplay />
                <CultureSelector />
            </ul>
        </div>
    </div>
</header>

<main class="inner">
    <div class="gradient-decor"></div>
    <ErrorBoundary @ref="@errorBoundary">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <div class="wrapper content-wrapper">
                <h2>@Localizer["ErrorHasOccurred"]</h2>
                <div>
                    <a href="" class="btn btn-border btn-m">@Localizer["BtnHomePage"]</a>
                </div>
            </div>
        </ErrorContent>
    </ErrorBoundary>
</main>

<footer>
    <div class="wrapper">
        <div class="flex-between content-wrapper">
            <div>
                <p class="explain">
                    @((MarkupString)@Localizer["ProjectDescription"].ToString())
                </p>
            </div>
            <img src="img/footer-flags2.png">
        </div>
        <div class="flex-between content-wrapper">
            <div>
                <p class="explain">
                    @((MarkupString)@Localizer["OldProjectDescription"].ToString())
                </p>
            </div>
            <img src="img/footer-flags.png">
        </div>
        <div class="flex-between content-wrapper">
            <p class="small">
                &copy;
                @((MarkupString)@Localizer["FooterCopyright"].ToString())
            </p>
        </div>
    </div>
</footer>

@code
{
    private ErrorBoundary errorBoundary;
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
