@if (model != null)
{
    <EditForm Model="@model" OnValidSubmit="SaveFormAsync">
        <DataAnnotationsValidator />

        <h2>@Localizer["Title"]</h2>

        <section class="form-section">
            <div class="form-col">
                <label for="@nameof(AddIntegrationLoginModalModel.CertificateThumbPrint)">
                    @Localizer["FormCertificateThumbPrint"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddIntegrationLoginModalModel.CertificateThumbPrint)"
                               @bind-Value="model.CertificateThumbPrint" />
                    <ValidationMessage For="@(() => model.CertificateThumbPrint)" />
                </div>
            </div>
            <div class="form-col">
                <label for="@nameof(AddIntegrationLoginModalModel.PushNotificationsUrl)">
                    @Localizer["FormPushNotificationsUrl"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddIntegrationLoginModalModel.PushNotificationsUrl)"
                               @bind-Value="model.PushNotificationsUrl" />
                    <ValidationMessage For="@(() => model.PushNotificationsUrl)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.CanSendOnBehalfOf)"
                                   @bind-Value="model.CanSendOnBehalfOf" />
                    <label for="@nameof(AddIntegrationLoginModalModel.CanSendOnBehalfOf)"
                           style="width: 100%;">
                        @Localizer["FormCanSendOnBehalfOf"]
                    </label>
                    <ValidationMessage For="@(() => model.CanSendOnBehalfOf)" />
                </div>
            </div>
        </section>

        <section class="form-section">
            <div class="form-col">
                <label for="@nameof(AddIntegrationLoginModalModel.Email)">
                    @Localizer["FormEmail"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddIntegrationLoginModalModel.Email)"
                               @bind-Value="model.Email" />
                    <ValidationMessage For="@(() => model.Email)" />
                </div>
            </div>
            <div class="form-col">
                <label for="@nameof(AddIntegrationLoginModalModel.Phone)">
                    @Localizer["FormPhone"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddIntegrationLoginModalModel.Phone)"
                               @bind-Value="model.Phone" />
                    <ValidationMessage For="@(() => model.Phone)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.EmailNotificationActive)"
                                   @bind-Value="model.EmailNotificationActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.EmailNotificationActive)"
                           style="width: 100%;">
                        @Localizer["FormEmailNotificationActive"]
                    </label>
                    <ValidationMessage For="@(() => model.EmailNotificationActive)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.EmailNotificationOnDeliveryActive)"
                                   @bind-Value="model.EmailNotificationOnDeliveryActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.EmailNotificationOnDeliveryActive)"
                           style="width: 100%;">
                        @Localizer["FormEmailNotificationOnDeliveryActive"]
                    </label>
                    <ValidationMessage For="@(() => model.EmailNotificationOnDeliveryActive)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.ViberNotificationActive)"
                                   @bind-Value="model.ViberNotificationActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.ViberNotificationActive)"
                           style="width: 100%;">
                        @Localizer["FormViberNotificationActive"]
                    </label>
                    <ValidationMessage For="@(() => model.ViberNotificationActive)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.ViberNotificationOnDeliveryActive)"
                                   @bind-Value="model.ViberNotificationOnDeliveryActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.ViberNotificationOnDeliveryActive)"
                           style="width: 100%;">
                        @Localizer["FormViberNotificationOnDeliveryActive"]
                    </label>
                    <ValidationMessage For="@(() => model.ViberNotificationOnDeliveryActive)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.SmsNotificationActive)"
                                   @bind-Value="model.SmsNotificationActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.SmsNotificationActive)"
                           style="width: 100%;">
                        @Localizer["FormSmsNotificationActive"]
                    </label>
                    <ValidationMessage For="@(() => model.SmsNotificationActive)" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <InputCheckbox id="@nameof(AddIntegrationLoginModalModel.SmsNotificationOnDeliveryActive)"
                                   @bind-Value="model.SmsNotificationOnDeliveryActive" />
                    <label for="@nameof(AddIntegrationLoginModalModel.SmsNotificationOnDeliveryActive)"
                           style="width: 100%;">
                        @Localizer["FormSmsNotificationOnDeliveryActive"]
                    </label>
                    <ValidationMessage For="@(() => model.SmsNotificationOnDeliveryActive)" />
                </div>
            </div>
        </section>

        <section class="form-section form-row button-row-right">
            <button class="btn-border btn-m" type="button" @onclick="CancelAsync">@Localizer["BtnCancel"]</button>
            <button class="btn-primary btn-m" type="submit">@Localizer["BtnSubmit"]</button>
        </section>
    </EditForm>
}
