@if (model != null)
{
    <EditForm Model="@model" OnValidSubmit="SaveFormAsync">
        <DataAnnotationsValidator />

        <h2>@Localizer["Title"]</h2>

        <section class="form-section">
            <div class="form-col">
                <label for="@nameof(AddProfileEsbUserModalModel.OId)">
                    @Localizer["FormServiceOId"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddProfileEsbUserModalModel.OId)"
                               @bind-Value="model.OId" />
                    <ValidationMessage For="@(() => model.OId)" />
                </div>
            </div>
            <div class="form-col">
                <label for="@nameof(AddProfileEsbUserModalModel.ClientId)">
                    @Localizer["FormClientId"]
                </label>
                <div class="form-element">
                    <InputText type="text"
                               id="@nameof(AddProfileEsbUserModalModel.ClientId)"
                               @bind-Value="model.ClientId" />
                    <ValidationMessage For="@(() => model.ClientId)" />
                </div>
            </div>
        </section>

        <section class="form-section form-row button-row-right">
            <button class="btn-border btn-m" type="button" @onclick="CancelAsync">@Localizer["BtnCancel"]</button>
            <button class="btn-primary btn-m" type="submit">@Localizer["BtnSubmit"]</button>
        </section>
    </EditForm>
}
