@page "/profiles"
@inherits PagedComponent
@attribute [Authorize]

<Breadcrumb Items="@(
    new Dictionary<string, string>()
    {
        { "home", "" },
        { "profiles", null }
    })" />

<div class="wrapper content-wrapper">
    <div class="cols-wrapper">
        <NavMenu />
        <div class="content-right">
            <h3>@Localizer["Title"]</h3>

            <EditForm EditContext="@editContext" OnValidSubmit="Search">
                <DataAnnotationsValidator />
                <div class="single-col">
                    <section class="form-section">
                        <ul class="col-list">
                            <li class="form-row">
                                <label for="@nameof(SearchProfilesModel.Identifier)">
                                    @Localizer["LabelIdentifier"]
                                </label>
                                <div class="form-element">
                                    <InputText type="text" id="@nameof(SearchProfilesModel.Identifier)" @bind-Value="model.Identifier" />
                                    <ValidationMessage For="@(() => model.Identifier)" />
                                </div>
                            </li>
                            <li class="form-row">
                                <label for="@nameof(SearchProfilesModel.NameEmailPhone)">
                                    @Localizer["LabelNameEmailPhone"]
                                </label>
                                <div class="form-element">
                                    <InputText type="text" id="@nameof(SearchProfilesModel.NameEmailPhone)" @bind-Value="model.NameEmailPhone" />
                                    <ValidationMessage For="@(() => model.NameEmailPhone)" />
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="form-section form-row button-row-right">
                        <a href="@recordsReportLink"
                           target="_blank"
                           rel="noopener noreferrer"
                           download
                           class="btn btn-border btn-m butright">
                            @Localizer["BtnExport"]
                        </a>
                        <button class="btn-primary btn-l" type="submit">@Localizer["BtnSearch"]</button>
                    </section>
                </div>
            </EditForm>

            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(profiles?.Length ?? 0)" />
            <div class="table-responsive" style="position: relative">
                @if (IsLoading)
                {
                    <div class="loader-container">
                    </div>
                }
                <table class="list">
                    <tbody>
                        <tr>
                            <th>@Localizer["ColumnElectronicSubjectName"]</th>
                            <th>@Localizer["ColumnIdentifier"]</th>
                            <th>@Localizer["ColumnIsActivated"]</th>
                            <th>@Localizer["ColumnTargetGroupName"]</th>
                        </tr>

                        @if (profiles == null)
                        {
                            <tr>
                                <td colspan="4">
                                    <div class="loader page-loader show">
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @if (!profiles.Result.Any())
                            {
                                <tr>
                                    <td colspan="4">@Localizer["NoItems"]</td>
                                </tr>
                            }

                            @foreach (var profile in profiles.Result)
                            {
                                <tr>
                                    <td>
                                        <a href="profiles/@profile.ProfileId">
                                            @($"{profile.ElectronicSubjectName} ({profile.Email})")
                                        </a>
                                    </td>
                                    <td>@profile.Identifier</td>
                                    <td>@Localizer[$"ColumnIsActivated_{profile.IsActivated}"]</td>
                                    <td>@profile.TargetGroupName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <Pager Page="@(Page)"
                   PageSize="@PageSize"
                   TotalItemsCount="@(profiles?.Length ?? 0)" />
        </div>
    </div>
</div>
