@model EDelivery.WebPortal.Models.Tickets.TicketsSearchViewModel

<div class="search-filter @(Model.HasFilter ? "show" : string.Empty)">
    <button class="btn btn-m btn-light btn-search-filter" type="button">
        Търсене в получени административни актове
        <svg viewBox="0 0 11 7" class="icon arrow-down">
            <path d="M5.5,6.4C5.3,6.4,5,6.3,4.8,6.2L0.3,1.6c-0.4-0.4-0.4-1,0-1.3c0.4-0.4,1-0.4,1.3,0l3.9,3.9l3.9-3.9c0.4-0.4,1-0.4,1.3,0c0.4,0.4,0.4,1,0,1.3L6.2,6.2C6,6.3,5.7,6.4,5.5,6.4z"></path>
        </svg>
    </button>
    @using (Html.BeginForm(
            "Inbox",
            "Tickets",
            FormMethod.Post,
            new { id = "search-ticket-form" }))
    {
        <style>
            .select2-selection--single {
                border: 2px solid #949494 !important;
                background-color: #f7f7f7 !important;
            }

            .select2-selection__placeholder {
                color: rgb(117, 117, 117) !important;
            }
        </style>

        <section class="form-section flex-row">
            <div class="col-2 flex-element date-group">
                <div class="form-col">
                    <label for="From">@ProfilePage.PlaceholderDateFrom:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.From, new { @placeholder = SystemConstants.DatePickerDateFormat })
                        <div class="icon-hint icon-hint--clear icon-hint--input-text"></div>
                        @Html.ValidationMessageFor(x => x.From)
                    </div>
                </div>
                <div class="form-col">
                    <label for="To">@ProfilePage.PlaceholderDateТо:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.To, new { @placeholder = SystemConstants.DatePickerDateFormat })
                        <div class="icon-hint icon-hint--clear icon-hint--input-text"></div>
                        @Html.ValidationMessageFor(x => x.To)
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-col">
                    <label for="Status">@ProfilePage.PlaceholderStatus:</label>
                    <div class="form-element">
                        @Html.DropDownListFor(
                            x => x.Status,
                            Model.Statuses,
                            "-- Изберете --",
                            new
                            {
                                @class = "form-select select2",
                            })
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2 btn-group">
                <div class="form-col">
                    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; ">
                        <button style="width: inherit !important; margin-bottom: 5px !important;"
                                class="btn btn-m btn-clear lnk-clear"
                                formaction="@Url.Action($"ExportInbox", "Tickets")"
                                formtarget="_blank"
                                data-toggle="tooltip"
                                data-original-title="@($"Експорт на първите {SystemConstants.ExportSize} резултата")">
                            Експорт
                        </button>
                        <a href="#" class="btn btn-m btn-clear lnk-clear">@ProfilePage.ButtonClear</a>
                    </div>
                    <button class="btn-border btn-l f-grow-80" type="submit">@ProfilePage.ButtonSearch</button>
                </div>
            </div>
        </section>
    }
</div>

@{
    var currentCulture = EDelivery.WebPortal.Utils.CultureHelper.ToSiteCulture(UICulture);
    var select2Language = currentCulture == EDelivery.WebPortal.Enums.eSiteCulture.BG
        ? "bg"
        : "en";
}

<script type="text/javascript">
    $(function () {
        $('.btn-search-filter').click(function () {
            $(this).closest('.search-filter').toggleClass('show');
        });

        var dateFormat = 'dd-mm-yyyy';

        $fromDate = $('#From');
        $toDate = $('#To');

        $fromDate
            .datepicker({
                language: '@select2Language',
                format: dateFormat,
                clearBtn: true
            })
            .on('change', function () {
                $toDate
                    .datepicker('destroy')
                    .datepicker({
                        language: '@select2Language',
                        format: dateFormat,
                        clearBtn: true,
                        startDate: $(this).val()
                    });
            });

        $fromDate.siblings('.icon-hint').on('click', function () {
            $fromDate.datepicker('clearDates');
        });

        $toDate
            .datepicker({
                language: '@select2Language',
                format: dateFormat,
                clearBtn: true
            })
            .on('change', function () {
                $fromDate
                    .datepicker('destroy')
                    .datepicker({
                        language: '@select2Language',
                        format: dateFormat,
                        clearBtn: true,
                        endDate: $(this).val()
                    });
            });

        $toDate.siblings('.icon-hint').on('click', function () {
            $toDate.datepicker('clearDates');
        });

        $status = $('#Status');

        $status
            .select2({
                placeholder: '-- Избор на език --',
                language: '@select2Language',
                allowClear: true,
                minimumResultsForSearch: Infinity,
            });

        $('a.lnk-clear').on('click', function (e) {
            e.preventDefault();

            $('form#search-ticket-form input').val('');
            $('form#search-ticket-form').submit();
        });
    });
</script>
