@model SearchInboxBlobsViewModel

<div class="search-filter @(Model.HasFilter ? "show" : string.Empty)">
    <button class="btn btn-m btn-light btn-search-filter" type="button">
        Филтър на файлове
        <svg viewBox="0 0 11 7" class="icon arrow-down">
            <path d="M5.5,6.4C5.3,6.4,5,6.3,4.8,6.2L0.3,1.6c-0.4-0.4-0.4-1,0-1.3c0.4-0.4,1-0.4,1.3,0l3.9,3.9l3.9-3.9c0.4-0.4,1-0.4,1.3,0c0.4,0.4,0.4,1,0,1.3L6.2,6.2C6,6.3,5.7,6.4,5.5,6.4z"></path>
        </svg>
    </button>
    @using (Ajax.BeginForm(
        "ListInboxBlobs",
        "Storage",
        null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tab_box_2",
            OnSuccess = "triggerTooltip()"
        },
        new { id = "listInboxBlobsForm" }))
    {
        <section class="form-section flex-row">
            <div class="col-2">
                <div class="form-col">
                    <label for="SearchTitle">Файл:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.FileName)
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-col">
                    <label for="SearchElSubject">Съобщение:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.MessageSubject)
                    </div>
                </div>
            </div>
            <div class="col-2 flex-element date-group">
                <div class="form-col">
                    <label for="FromDate">@ProfilePage.PlaceholderDateFrom:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.FromDate, new { @placeholder = SystemConstants.DatePickerDateFormat })
                        <div class="icon-hint icon-hint--clear icon-hint--input-text"></div>
                        @Html.ValidationMessageFor(x => x.FromDate)
                    </div>
                </div>
                <div class="form-col">
                    <label for="ToDate">@ProfilePage.PlaceholderDateТо:</label>
                    <div class="form-element">
                        @Html.TextBoxFor(x => x.ToDate, new { @placeholder = SystemConstants.DatePickerDateFormat })
                        <div class="icon-hint icon-hint--clear icon-hint--input-text"></div>
                        @Html.ValidationMessageFor(x => x.ToDate)
                    </div>
                </div>
            </div>
            <div class="col-2 btn-group">
                <div class="form-col">
                    <a href="#"
                       id="clearListInboxBlobsForm"
                       class="btn btn-m btn-clear lnk-clear">@ProfilePage.ButtonClear</a>
                    <button class="btn-border btn-l f-grow-80">@ProfilePage.ButtonSearch</button>
                </div>
            </div>
        </section>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#tab_box_2 .btn-search-filter').click(function () {
            $(this).closest('.search-filter').toggleClass('show');
        });

        var dateFormat = 'dd-mm-yyyy';

        var $fromDate = $('#tab_box_2 input#FromDate');
        var $toDate = $('#tab_box_2 input#ToDate');

        $fromDate
            .datepicker({
                language: 'bg',
                format: dateFormat,
                clearBtn: true
            })
            .on('change', function () {
                $toDate.datepicker('destroy');
                $toDate.datepicker({
                    language: 'bg',
                    format: dateFormat,
                    clearBtn: true,
                    startDate: $(this).val()
                })
            });

        $fromDate.siblings('.icon-hint').on('click', function () {
            $fromDate.datepicker('clearDates');
        });

        $toDate
            .datepicker({
                language: 'bg',
                format: dateFormat,
                clearBtn: true
            })
            .on('change', function () {
                $fromDate.datepicker('destroy');
                $fromDate.datepicker({
                    language: 'bg',
                    format: dateFormat,
                    clearBtn: true,
                    endDate: $(this).val()
                })
            });

        $toDate.siblings('.icon-hint').on('click', function () {
            $toDate.datepicker('clearDates');
        });

        $('a#clearListInboxBlobsForm').on('click', function (e) {
            e.preventDefault();

            $('form#listInboxBlobsForm input').val('');
            $('form#listInboxBlobsForm').submit();
        });
    });
</script>
