@{
    Layout = "~/Views/Shared/_LayoutNonav.cshtml";

    ViewBag.Title = Common.TitleHelp;
}

<div class="wrapper content-wrapper page-title" id="goToTop">
    <h1 class="pt-0-h-m-0">@Common.TitleHelp</h1>
</div>

<div class="single-col">
    <nav class="tabs-nav res-700">
        <button id="tab_btn_1"
                class="btn btn-m active"
                type="button"
                data-tab-id="tab_box_1"
                data-fragment="register1">
            @Help.TitleRegister1
        </button>
        <button id="tab_btn_2"
                class="btn btn-m"
                type="button"
                data-tab-id="tab_box_2"
                data-fragment="register2">
            @Help.TitleRegister2
        </button>
        <button id="tab_btn_3"
                class="btn btn-m"
                type="button"
                data-tab-id="tab_box_3"
                data-fragment="register3">
            @Help.TitleRegister3
        </button>
        <button id="tab_btn_4"
                class="btn btn-m"
                type="button"
                data-tab-id="tab_box_4"
                data-fragment="messages">
            @Help.TitleMessages
        </button>
        <button id="tab_btn_5"
                class="btn btn-m"
                type="button"
                data-tab-id="tab_box_5"
                data-fragment="profile">
            @Help.TitleProfile
        </button>
        <button id="tab_btn_6"
                class="btn btn-m"
                type="button"
                data-tab-id="tab_box_6"
                data-fragment="storage">
            @Help.TitleStorage
        </button>
    </nav>

    @Html.Raw(Help.Register1)
    @Html.Raw(Help.Register2)
    @Html.Raw(Help.Register3)
    @Html.Raw(Help.Messages)
    @Html.Raw(Help.Profile)
    @Html.Raw(Help.Storage)

</div>

@section scripts {
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(document).scrollTop() > 100) {
                    $(".go-to-top").addClass("show");
                } else {
                    $(".go-to-top").removeClass("show");
                }
            });

            $('button[id^="tab_btn_"]').myUrlTabs(
                'button[id^="tab_btn_"]',
                'div[id^="tab_box_"]',
                'data-tab-id',
                'active',
                startLazy);

            window.addEventListener('popstate', function (e) {
                window.location.reload();
            });

            
            // TODO all lazY?
            // TODO fragment and click

            startLazy($('#tab_box_1'));

            function startLazy(target) {
                target.find('img.lazy').Lazy({
                    imageBase: '/Content/img/help/',
                    defaultImage: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAcklEQVQoU52QsQrAIAxEz01cBDd3//9L/ARx1E1wETclLdIUOoRmOi4vFxIVY1zOOWit8VVzTrTWoHLOi0QIAdbaF9t7R0oJFKRKKcsYcxkcPhB5Y4wb9N6DNyiWD9ZaH5CaBybN0/+BotWiY8TvkT58A8jEhClyqfYYAAAAAElFTkSuQmCC'
                });
            }
        });
    </script>
}

<a href="#goToTop" class="go-to-top" id="goTop">
    <svg viewBox="0 0 11 7" class="icon arrow-down">
        <path d="M5.5,6.4C5.3,6.4,5,6.3,4.8,6.2L0.3,1.6c-0.4-0.4-0.4-1,0-1.3c0.4-0.4,1-0.4,1.3,0l3.9,3.9l3.9-3.9c0.4-0.4,1-0.4,1.3,0c0.4,0.4,0.4,1,0,1.3L6.2,6.2C6,6.3,5.7,6.4,5.5,6.4z" />
    </svg>
</a>
