@using EDelivery.WebPortal.Models.Home
@model IndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

@{
    string loginKEP = Url.Action(
        EDelivery.WebPortal.Utils.SamlHelper.SamlConfiguration.LoginUrl,
        "Account",
        new { login = true, returnUrl = Model.ReturnUrl });
}

<div class="gradient-decor"></div>
<div class="wrapper tabs">
    <ul id="nav-login-reg" class="nav-tabs home-tabs collapsed">
        <li class="ham-menu-item">
            <button class="btn-tabs-ham btn-l ">
                <span>@Landing.IdentityChoice</span>
                <span class="ham-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </li>
        <li class="nav-item btn_homeTab1 active" id="#btn_homeTab1">
            <button class="btn-tabs-item btn-l">@Landing.Individual</button>
        </li>
        <li class="nav-item btn_homeTab2" id="#btn_homeTab2">
            <button class="btn-tabs-item btn-l">@Landing.LegalEntity</button>
        </li>
        <li class="nav-item btn_homeTab3" id="#btn_homeTab3">
            <button class="btn-tabs-item btn-l">@Landing.PublicAdministration</button>
        </li>
    </ul>

    <!-- Tabs content -->
    <div class="home-tabs-target show" id="homeTab1-1">
        <div class="login-panel-home content-wrapper">
            <div class="top-content-box">
                <h2>@UIControls.ButtonLogin</h2>
                @Html.ActionLink($"{Common.FooterNavHelp} >", "Index", "Help", new { }, new { @class = "btn btn-m btn-clear" })
            </div>
            <p class="explain">
                @LoginRegisterPage.LoginKepNotice
            </p>
            <a href="@loginKEP" class="btn btn-primary btn-l width-100" style="margin-top: 40px;">
                @LoginRegisterPage.TitleLoginKEP
            </a>
        </div>
        <div class="home-right-col content-wrapper">
            <h2>@LoginRegisterPage.TitleRegisterPerson</h2>
            <p>@LoginRegisterPage.DescriptionRegisterPerson @LoginRegisterPage.TextChooseRegisterType</p>
            <p>
                @LoginRegisterPage.LoginKepNotice
            </p>
            <div class="form-row btn-row" style="margin-top: 50px;">
                <a class="btn btn-border btn-l" href=" @Url.Action(EDelivery.WebPortal.Utils.SamlHelper.SamlConfiguration.LoginUrl, "Account", new { login = false })">@UIControls.ButtonRegister</a>
                @Html.ActionLink($"{Common.FooterNavHelp} >", "Index", "Help", new { }, new { @class = "btn btn-m btn-clear" })
            </div>
        </div>
    </div>

    <!-- Tab content 2 -->
    @{
        string registerLegalPersonKEP = Request.IsAuthenticated
            ? Url.Action("LegalEntity", "Register")
            : Url.Action(
                EDelivery.WebPortal.Utils.SamlHelper.SamlConfiguration.LoginUrl,
                "Account",
                new
                {
                    login = true,
                    returnUrl = "/Register/LegalEntity"
                });
    }

    <div class="home-tabs-target" id="homeTab2">
        <div class="content-wrapper">
            <section>
                <h2>@LoginRegisterPage.TitleRegisterLegal</h2>
                <p>@LoginRegisterPage.DescriptionRegisterLegal</p>
                <p>@LoginRegisterPage.DescriptionRegisterLegalAddOn</p>
            </section>
            <section>
                <h2>@LoginRegisterPage.TitleSectionRegistrationInstructions</h2>
                <p>@LoginRegisterPage.TextRegistrationInstructionsLegal</p>
                <div class="flex-col mt-spacer">
                    <a href="@Url.Content("~/Content/Documents/eDeliery-registration_form_legal_person.pdf")"
                       class="bold-txt"
                       download="eDeliery-registration_form_legal_person.pdf"
                       rel="noopener"
                       target="_blank"
                       title="@LoginRegisterPage.DownloadRegistrationForm">
                        @LoginRegisterPage.DownloadRegistrationForm
                    </a>
                    <div class="da-tooltip attached arrow-up iconed">
                        <div class="icon-info"></div>
                        @Common.InfoLegalRegistration
                    </div>
                </div>
            </section>
            <section>
                <p class="explain">@LoginRegisterPage.MessageLoginToRegisterLegalPerson</p>
                <div class="form-row">
                    @Html.ActionLink($"{Common.FooterNavHelp} >", "Index", "Help", new { }, new { @class = "btn btn-m btn-clear" })
                </div>
                <div class="form-row btn-row">
                    <a href="@registerLegalPersonKEP" class="btn btn-primary btn-l">@LoginRegisterPage.TitleLoginKEP</a>
                </div>
            </section>
        </div>
    </div>
    <!-- Tab content 3 -->
    <div class="home-tabs-target" id="homeTab3">
        <div class="content-wrapper">
            <section>
                <h2>@LoginRegisterPage.TitleRegisterPublicAdministration</h2>
                <ul class="list-clear">
                    <li>
                        <a href="~/Content/Documents/eDelivery-registration_administration.pdf"
                           download="eDelivery-registration_administration.pdf"
                           rel="noopener"
                           target="_blank">
                            @LoginRegisterPage.TitleRegisterPublicAdministrationApplication1
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Documents/eDelivery-registration_sub-administration.pdf"
                           download="eDelivery-registration_sub-administration.pdf"
                           rel="noopener"
                           target="_blank">
                            @LoginRegisterPage.TitleRegisterPublicAdministrationApplication2
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Documents/eDelivery-reject_registration.pdf"
                           download="eDelivery-reject_registration.pdf"
                           rel="noopener"
                           target="_blank">
                            @LoginRegisterPage.TitleUnregisterPublicAdministrationApplication
                        </a>
                    </li>
                </ul>
                <p style="max-width: 100%;">
                    @Html.Raw(String.Format(LoginRegisterPage.ForMoreInformation, "<a href=\"https://iaieu.egov.bg/wps/portal/agency-iaieu/horizontalni-sistemi/edelivery\" rel=\"noopener\" target=\"_blank\">", "</a>"))
                </p>
            </section>
            <section>
                <h2>@LoginRegisterPage.AreYouAUser</h2>
                <p>@LoginRegisterPage.YouCanUseIt</p>
                <div class="form-row btn-row">
                    <a href="@loginKEP" class="btn btn-primary btn-l">@LoginRegisterPage.TitleLoginKEP</a>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="wrapper flex-row mt-spacer">
    <div class="content-wrapper col-2 bgr-gray">
        <h2>@Landing.MessageTitle</h2>
        <p>@Html.Raw(Landing.Message1)</p>
        <p>@Html.Raw(Landing.Message2)</p>
    </div>
    <div class="content-wrapper col-2 bgr-gray">
        <h2 class="txt-center">@Landing.HelpDesk</h2>
        <p class="txt-center">
            @Landing.HelpDeskInfo
            <span class="help-phone">0700 20 341</span>
            <a href="mailto:help@e-gov.bg" class="display-block">help@e-gov.bg</a>
            <a href="https://egov.bg/wps/portal/egov/helpdesk"
               rel="noopener"
               target="_blank"
               class="display-block">
                @Landing.HelpDesk
            </a>
        </p>
    </div>
</div>
<div class="wrapper flex-row mt-spacer">
    <div class="content-wrapper col-2">
        <h2>@Landing.TitleAdvantages</h2>
        <ul class="list-default">
            <li>@Landing.Advantages1</li>
            <li>@Landing.Advantages2</li>
            <li>@Landing.Advantages3</li>
            <li>@Landing.Advantages4</li>
            <li>@Landing.Advantages5</li>
        </ul>
    </div>
    <div class="content-wrapper col-2">
        <h2>@Landing.TitleHowToUse</h2>
        <ul class="list-numbered-decor">
            <li>@Landing.Step1 </li>
            <li>@Landing.Step2</li>
            <li>@Landing.Step3</li>
        </ul>
    </div>
</div>
<div class="wrapper flex-row mt-spacer">
    <div class="content-wrapper col-2 bgr-gray">
        <h2>@Landing.TitleRegisteredUsers</h2>
        <div id="statistics-content">
            <div class="loader"></div>
        </div>
    </div>

    <div class="content-wrapper col-2 bgr-gray">
        <h2>@Landing.TitlePartOfBgGov</h2>
        <ul class="list-links">
            <li><a target="_blank" rel="noopener" href="http://www.egov.bg/">@Landing.BgGovLink1</a></li>
            <li><a target="_blank" rel="noopener" href="http://www.strategy.bg/">@Landing.BgGovLink3</a></li>
            <li><a target="_blank" rel="noopener" href="http://opendata.government.bg/">@Landing.BgGovLink4</a></li>
            <li>
                <a target="_blank"
                   rel="noopener"
                   href="https://iaieu.egov.bg/wps/wcm/connect/iaieu.egov.bg-27159/6d9d1e1b-e4c4-4594-a266-f2d0a801ba7a/%D0%9E%D0%A3-%D0%B5%D0%92%D1%80%D1%8A%D1%87%D0%B2%D0%B0%D0%BD%D0%B5-v1-dd.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=ROOTWORKSPACE.Z18_PPGAHG800HER206O2CR2RV8VK6-6d9d1e1b-e4c4-4594-a266-f2d0a801ba7a-oi4Gr.i">
                    @Landing.BgGovLink6
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        $.post('/Home/GetStatistics', {}, function (content) {
            $('#statistics-content').html(content);
        });
    });
</script>
