<footer>
    <div class="wrapper">
        <div class="flex-between content-wrapper">
            <div>
                <p class="explain">
                    @Html.Raw(Site.ProjectDescription)
                </p>
                
            </div>
            <img src="~/Content/img/footer-flags2.png" alt="@ARIA.AltFooterFlag2" />
        </div>
        <div class="flex-between content-wrapper">
            <div>
                <p class="explain">
                    @Html.Raw(Site.OldProjectDescription)
                </p>
            </div>
            <img src="~/Content/img/footer-flags.png" alt="@ARIA.AltFooterFlag" />
        </div>
        <div class="flex-between content-wrapper">
            <p class="small">@Html.Raw(Common.CopyRight)</p>
        </div>
    </div>
</footer>
