@using EDelivery.WebPortal.Utils

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Matomo")

    <title>@Common.EDeliveryTitle</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/Content/css/site")
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>

@{
    string importantBarMessage = string.Empty;
    string importantBarMessageBase64 = Utils.ToUrlSafeBase64(importantBarMessage);
}

<body>
    <header id="scale-wrapper">
        <div class="wrapper header-wrapper">
            <div class="logo-wrapper" id="scale-in">
                <a href="/">
                    <img src="~/Content/img/lion-form.svg" class="icon-lion-form" alt="@ARIA.AltLogo" />
                </a>
                <div class="titles-box">
                    <h2 class="main-title-long">@Site.Title</h2>
                    <h4 class="sub-title">@Site.Subtitle</h4>
                </div>

                @if (Utils.IsTestEnvironment)
                {
                    <style>
                        .test-alert {
                            position: fixed;
                            top: 10px;
                            right: 10px;
                            z-index: 10;
                            padding: 0.75rem 1.25rem;
                            color: #721c24;
                            background-color: #f8d7da;
                            border: 1px solid transparent;
                            border-radius: 0.25rem;
                        }
                    </style>

                    <div class="test-alert">@Site.Title_TestEnv</div>
                }
            </div>
            <div class="right-content">
                <ul>
                    @{
                        var currentCulture = EDelivery.WebPortal.Utils.CultureHelper.ToSiteCulture(UICulture);

                        var userdata = Context.GetCachedUserData();
                        if (Request.IsAuthenticated && userdata != null)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Profile")">
                                    <span>@userdata.DefaultProfileName</span>
                                    <svg viewBox="0 0 32 32" class="icon profile">
                                        <path d="M27.3,4.7c-3-3-7-4.7-11.3-4.7C11.7,0,7.7,1.7,4.7,4.7S0,11.7,0,16c0,4.3,1.7,8.3,4.7,11.3S11.7,32,16,32
                                    c4.3,0,8.3-1.7,11.3-4.7S32,20.3,32,16C32,11.7,30.3,7.7,27.3,4.7z M8,27.6c0.7-3.9,4-6.7,8-6.7c4,0,7.3,2.8,8,6.7
                                    c-2.3,1.6-5,2.5-8,2.5S10.3,29.2,8,27.6z M10.9,14c0-2.8,2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1s-2.3,5.1-5.1,5.1S10.9,16.8,10.9,14z
                                     M25.6,26.3c-0.5-1.8-1.5-3.4-2.9-4.7c-0.9-0.8-1.8-1.4-2.9-1.8c1.9-1.2,3.2-3.4,3.2-5.8c0-3.8-3.1-7-7-7s-7,3.1-7,7
                                    c0,2.4,1.3,4.6,3.2,5.8c-1.1,0.4-2,1-2.9,1.8c-1.4,1.3-2.4,2.9-2.9,4.7C3.6,23.8,1.9,20.1,1.9,16C1.9,8.2,8.2,1.9,16,1.9
                                    S30.1,8.2,30.1,16C30.1,20.1,28.4,23.8,25.6,26.3z" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span>@UIControls.ButtonLogout</span>
                                    <svg viewBox="0 0 32 32" class="icon exit">
                                        <path d="M16,27.6H5.5c-0.6,0-1.2-0.5-1.2-1.2V5.5c0-0.6,0.5-1.2,1.2-1.2H16c0.6,0,1.2-0.5,1.2-1.2S16.6,2,16,2H5.5C3.6,2,2,3.6,2,5.5v20.9c0,1.9,1.6,3.5,3.5,3.5H16c0.6,0,1.2-0.5,1.2-1.2C17.1,28.1,16.6,27.6,16,27.6z" />
                                        <path d="M29.6,15.1l-7.1-7c-0.5-0.5-1.2-0.4-1.6,0c-0.5,0.5-0.4,1.2,0,1.6l5,5H12.5c-0.6,0-1.2,0.5-1.2,1.2c0,0.6,0.5,1.2,1.2,1.2H26l-5,5c-0.5,0.5-0.5,1.2,0,1.6c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l7.1-7c0.2-0.2,0.3-0.5,0.3-0.8C30,15.6,29.9,15.3,29.6,15.1z" />
                                    </svg>
                                </a>
                            </li>
                        }
                    }

                    @if (currentCulture != EDelivery.WebPortal.Enums.eSiteCulture.EN)
                    {
                        <li>
                            <a href="@Url.Action(
                                        "ChangeCulture",
                                        "Home",
                                        new { culture = EDelivery.WebPortal.Enums.eSiteCulture.EN })"
                               class="language">
                                <svg viewBox="0 0 32 32" class="icon icon-circle">
                                    <path d="M27.3,4.7c-3-3-7-4.7-11.3-4.7C11.7,0,7.7,1.7,4.7,4.7S0,11.7,0,16s1.7,8.3,4.7,11.3c3,3,7,4.7,11.3,4.7
                                    c4.3,0,8.3-1.7,11.3-4.7S32,20.3,32,16S30.3,7.7,27.3,4.7z M26,26c-2.6,2.6-6.2,4.1-10,4.1S8.7,28.6,6,26s-4.1-6.2-4.1-10
                                    S3.4,8.7,6,6s6.2-4.1,10-4.1S23.3,3.4,26,6c2.6,2.6,4.1,6.2,4.1,10S28.6,23.3,26,26z" />
                                </svg>
                                En
                            </a>
                        </li>
                    }
                    @if (currentCulture != EDelivery.WebPortal.Enums.eSiteCulture.BG && currentCulture != EDelivery.WebPortal.Enums.eSiteCulture.Invariant)
                    {
                        <li>
                            <a href="@Url.Action(
                                        "ChangeCulture",
                                        "Home",
                                        new { culture = EDelivery.WebPortal.Enums.eSiteCulture.BG })"
                               class="language">
                                <svg viewBox="0 0 32 32" class="icon icon-circle">
                                    <path d="M27.3,4.7c-3-3-7-4.7-11.3-4.7C11.7,0,7.7,1.7,4.7,4.7S0,11.7,0,16s1.7,8.3,4.7,11.3c3,3,7,4.7,11.3,4.7
                                    c4.3,0,8.3-1.7,11.3-4.7S32,20.3,32,16S30.3,7.7,27.3,4.7z M26,26c-2.6,2.6-6.2,4.1-10,4.1S8.7,28.6,6,26s-4.1-6.2-4.1-10
                                    S3.4,8.7,6,6s6.2-4.1,10-4.1S23.3,3.4,26,6c2.6,2.6,4.1,6.2,4.1,10S28.6,23.3,26,26z" />
                                </svg>
                                Бг
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    @if (!string.IsNullOrEmpty(importantBarMessage))
    {
        <script>
        @* see https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API#testing_for_availability *@
        function storageAvailable(type) {
            var storage;
            try {
                storage = window[type];
                var x = '__storage_test__';
                storage.setItem(x, x);
                storage.removeItem(x);
                return true;
            }
            catch (e) {
                return e instanceof DOMException && (
                    // everything except Firefox
                    e.code === 22 ||
                    // Firefox
                    e.code === 1014 ||
                    // test name field too, because code might not be present
                    // everything except Firefox
                    e.name === 'QuotaExceededError' ||
                    // Firefox
                    e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
                    // acknowledge QuotaExceededError only if there's something already stored
                    (storage && storage.length !== 0);
            }
        }

        function hideImportantBar() {
            if (storageAvailable('localStorage')) {
                window.localStorage.setItem('hide-important-bar-@importantBarMessageBase64', 'true');
            }
            document.getElementById('important-bar').style.display = 'none';
        }

        $(function () {
            if (!storageAvailable('localStorage')
                || !window.localStorage.getItem('hide-important-bar-@importantBarMessageBase64')
            ) {
                document.getElementById('important-bar').style.display = 'block';
            }
        });
        </script>

        <div id="important-bar" style="display: none; margin: 0; background: #FFd669; width: 100%; padding: 10px 20px; position: relative; text-align: center;">
            <div style="display:inline-block; width:95%; text-align:center;">
                <p style="max-width: none;">@importantBarMessage</p>
            </div>
            <a style="font-size: 24px; font-family: 'Arial'; float: right; text-decoration: none;"
               href="javascript:void(0);"
               onclick="hideImportantBar();">×</a>
        </div>
    }

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/js")
</body>
</html>
