<EditForm Model="@model" OnValidSubmit="SubmitFormAsync">
    <DataAnnotationsValidator />

    <h2>@Localizer["Title"]</h2>

    <section class="form-section">
        <div class="form-col">
            <label for="ProfileIds">@Localizer["ProfileIds"]<span class="txt-red">*</span></label>
            <div class="form-element">
                <Select2MultiField id="ProfileIds"
                                   @bind-Value="model.ProfileIds"
                                   Url="nomenclatures/profiles" />
            </div>
        </div>

        <ValidationSummary />
    </section>

    <section class="form-section form-row button-row-right">
        <button class="btn-border btn-m" type="button" @onclick="CancelAsync">@Localizer["BtnCancel"]</button>
        <button class="btn-primary btn-m" type="submit">@Localizer["BtnAdd"]</button>
    </section>
</EditForm>
