@page "/recipient-groups/create"
@page "/recipient-groups/edit/{EditRecipientGroupId:int?}"
@attribute [Authorize]

<Breadcrumb Items="@(
    new Dictionary<string, string>()
    {
        { "home", "" },
        { "recipient-groups", "recipient-groups" },
        { EditRecipientGroupId.HasValue ? "edit" : "create", null },
    })" />

<div class="wrapper content-wrapper">
    <div class="cols-wrapper">
        <NavMenu />
        <div class="content-right">
            <h3>@(EditRecipientGroupId.HasValue ? Localizer["TitleEdit"] : Localizer["TitleCreate"])</h3>

            @if (model != null)
            {
                <EditForm Model="@model" OnValidSubmit="SaveAsync">
                    <DataAnnotationsValidator />
                    <div class="single-col">
                        <section class="form-section">
                            <ul class="col-list">
                                <li class="form-row">
                                    <label for="Name">@Localizer["Name"]<span class="txt-red">*</span></label>
                                    <div class="form-element">
                                        <InputText type="text" id="Name" @bind-Value="model.Name" />
                                        <ValidationMessage For="@(() => model.Name)" />
                                    </div>
                                </li>
                            </ul>
                        </section>

                        <section class="form-section form-row button-row-right">
                            <a class="btn btn-border btn-l"
                               href="@($"recipient-groups{(EditRecipientGroupId.HasValue ? $"/{EditRecipientGroupId.Value}" : string.Empty)}")">
                                @Localizer["BtnCancel"]
                            </a>
                            <button class="btn-primary btn-l" type="submit">@Localizer["BtnSubmit"]</button>
                        </section>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>
