@page "/recipient-groups/{RecipientGroupId:int}"
@attribute [Authorize]

@inject IStringLocalizer<View> Localizer
@inject CommonStringLocalizer CommonLocalizer

<Breadcrumb Items="@(
    new Dictionary<string, string>()
    {
        { "home", "" },
        { "recipient-groups", "recipient-groups" },
        { "view", null },
    })" />

<div class="wrapper content-wrapper">
    <div class="cols-wrapper">
        <NavMenu />
        <div class="content-right">
            <h3>@Localizer["Title"]</h3>

            @if (recipientGroup != null)
            {
                <div class="single-col">
                    <section class="form-section">
                        <ul class="col-list">
                            @if (recipientGroup.ArchiveDate != null)
                            {
                                <li class="form-row">
                                    <label for="Name">@Localizer["ArchiveDate"]:</label>
                                    <div class="form-element">
                                        @recipientGroup.ArchiveDate.ToLocalDateTime().ToString("g")
                                    </div>
                                </li>
                            }
                            <li class="form-row">
                                <label for="Name">@Localizer["Name"]:</label>
                                <div class="form-element">
                                    @recipientGroup.Name
                                </div>
                            </li>
                            <li class="form-row">
                                <label for="Name">@Localizer["ModifyDate"]:</label>
                                <div class="form-element">
                                    @recipientGroup.ModifyDate.ToLocalDateTime().ToString("g")
                                </div>
                            </li>
                            <li class="form-row">
                                <label for="Name">@Localizer["CreateDate"]:</label>
                                <div class="form-element">
                                    @recipientGroup.CreateDate.ToLocalDateTime().ToString("g")
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section class="form-section">
                        <h3>@Localizer["SectionTitleMembers"]</h3>
                        <button type="button" class="btn-light btn-l" @onclick="AddRecipientGroupMembersAsync">
                            + @Localizer["BtnAddMembers"]
                        </button>
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="statistics">
                                    <tbody>
                                        <tr>
                                            <th>@Localizer["ColumnName"]</th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in members.RecipientGroupMembers)
                                        {
                                            <tr @key="item.ProfileId">
                                                <td>@item.Name</td>
                                                <td class="file-actions">
                                                    <div>
                                                        <a href="javascript:void(0);"
                                                            @onclick="async () => await RemoveRecipientGroupMemberAsync(item.ProfileId)">
                                                            <img src="img/trash-icon.png" class="delete" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        @if (members.RecipientGroupMembers.Count == 0)
                                        {
                                            <tr><td colspan="4">@Localizer["NoMembers"]</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <section class="form-section form-row button-row-right">
                        <a class="btn btn-border btn-l" href="recipient-groups">&lt; @Localizer["BtnBack"]</a>
                        @if (recipientGroup.ArchiveDate == null)
                        {
                            <button class="btn btn-primary btn-l" @onclick="ArchiveAsync">@Localizer["BtnArchive"]</button>
                        }
                        <a class="btn btn-primary btn-l" href="recipient-groups/edit/@recipientGroup.RecipientGroupId">@Localizer["BtnEdit"]</a>
                    </section>
                </div>
            }
        </div>
    </div>
</div>
